<div 
  class="login-main" 
  fxLayout="row" 
  fxLayoutAlign="center center"
>
  <mat-card 
    fxFlex="33" 
    fxFlex.xs="70" 
    fxFlex.md="50" 
    fxFlex.sm="60" 
    class="card"
  >
    <div 
      class="login-heading" 
      fxLayout="column" 
      fxLayoutAlign="center center"
    >
      <mat-card-title style="margin-top: 5%">
        <p>
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="oo">o</span>
        </p>
      </mat-card-title>
      <h1> Sign in </h1>
      <h3> Use your Fundoo Account </h3>
    </div>
    <form>
      <div 
        fxLayout="column" 
        fxLayoutAlign="center center"
      >
        <mat-form-field
          [style.fontSize.px]="15" 
          appearance="outline" 
          style="width: 90%"
        >
          <mat-label>Email or phone</mat-label>
          <input matInput 
            placeholder="Email" 
            name="email" 
            type="text" 
            [formControl]="email" 
            required
          >
          <mat-error *ngIf="email.invalid">
            {{getErrorMessageForEmail()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field
          [style.fontSize.px]="15" 
          appearance="outline"
          style="width: 90%"
        >
          <mat-label>Enter your password</mat-label>
          <input matInput 
            placeholder="Password" 
            name="password" 
            [type]="hide ? 'password' : 'text'"
            [formControl]="password" 
            required
          >
          <button mat-icon-button matSuffix 
            (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">
            {{getErrorMessageForPassword()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div 
        class="bottom-content"
        fxLayout="row" 
        fxLayoutAlign="space-between end" 
      >
        <div>
          <a 
            href="http://fundoonotes.incubation.bridgelabz.com" 
            style="font-size: 18px; text-decoration: none"
            target="_blank"
          >
            Create Account
          </a>
        </div>
        <div fxLayoutAlign="end end">
          <button 
            class="login-button"
            mat-flat-button color="primary"
            (click) = "onClicked()"
          >
            Log In
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>