<div class="login-main" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="50">
        <div 
        class="login-heading" 
        fxLayout="column" 
        fxLayoutAlign="center center"
        >
            <mat-card-title>
                <p>
                    <span class="f">f</span>
                    <span class="u">u</span>
                    <span class="n">n</span>
                    <span class="d">d</span>
                    <span class="o">o</span>
                    <span class="oo">o</span>
                    <span class="n">n</span>
                    <span class="o">o</span>
                    <span class="t">t</span>
                    <span class="e">e</span>
                </p>
            </mat-card-title>
            <h1> Sign in </h1>
            <h3> Use your Fundoo Account </h3>
        </div>

        <div 
        fxLayout="column" 
        fxLayoutAlign="center center"
        >
            <mat-form-field [style.fontSize.px]="12" appearance="outline">
                <mat-label>Email or phone</mat-label>
                <input matInput placeholder="Email" name="email" type="text" [formControl]="email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessageForEmail()}}</mat-error>
            </mat-form-field>

            <mat-form-field [style.fontSize.px]="12" appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getErrorMessageForPassword()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="login-button" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=10%>
            <button mat-raised-button 
            style="background-color: #0000FF;filter:brightness(1.5);color: white;" (click)="onClicked()"
            >
                Login
            </button>
        </div>
    </mat-card>
</div>