.toolbar{
    background-color: white;
    // height: 8%;
}
.notes-container{

   margin-top: 2px;
   height: 559px;
    border : cornsilk;
    border-width: 2px;
    border-style: groove;
    background-color: white;
}

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
 width: 20%;
  }

  .keep-icon {
    padding-left: 20px;
    width: 30px;
    height: 30px;
  }

  .keep {
    padding-left: 15px;
  }

  .profile {
    padding-left: 1100px;
  }